body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}
.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.header-logo-web,
.footer-logo-web {
  color: #4d5ae5;
}
.header-logo-studio {
  color: #2e2f42;
}
.footer-logo-studio {
  color: var(--cloud, #f4f4fd);
  background-color: #2e2f42;
}

.nav-link {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-link:hover,
.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}
.contacts-link {
  color: black;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.button {
  cursor: pointer;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.button:hover {
  border-radius: 4px;
  background: #404bbf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.hero {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}
.main-page {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.concept-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.concept-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
#studio,
.team-title {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.sectoin-team {
  width: 1440px;
  height: 732px;
  background: var(--cloud, #f4f4fd);
}
.item-picture {
  width: 264px;
  height: 348px;
  border-radius: 0px 0px 4px 4px;
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.item-card {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
.footer-board {
  background: var(--navyblue, #2e2f42);
  width: 1440px;
  height: 312px;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
}
